.cta {
  background: linear-gradient(225deg, #80CBC4, #00796B);
  border-radius: 2rem;
  line-height: 50px;
  height: 50px;
  width: 50%;
  min-width: fit-content;
  min-width: -moz-fit-content;
  text-align: center;
  transition: width .2s ease-in-out;
  cursor: pointer; }
  .cta .hide {
    display: none; }
  .cta form {
    display: flex; }
  .cta span {
    opacity: 0;
    width: 100%;
    text-align: center;
    animation: fadeIn .3s ease-in-out;
    animation-delay: .2s;
    animation-fill-mode: forwards; }
  .cta ::placeholder {
    color: #F57C00; }
  .cta .direct {
    font-size: 0.8rem; }
  .cta .inputWP {
    display: none;
    opacity: 0;
    flex: 3;
    text-align: left; }
    .cta .inputWP input {
      border: 0;
      width: 240px;
      height: 45px;
      margin: 0 0 0 25px;
      outline: none;
      color: #fff;
      background-color: transparent; }
  .cta .button {
    display: none;
    opacity: 0;
    flex: 1; }
    .cta .button button {
      outline: none;
      float: right;
      padding: 0 15px;
      background: #00796B;
      border-radius: 25px;
      color: #fff;
      border: 0;
      cursor: pointer;
      transition: all .2s ease-in-out; }
      .cta .button button:disabled {
        background: #00796B;
        color: #80CBC4;
        opacity: .8; }
  .cta.sent {
    cursor: default; }
  .cta.active {
    background: #FFCC80;
    text-align: left;
    transition: width .2s ease-in-out;
    cursor: default; }
    .cta.active span {
      display: none; }
    .cta.active .inputWP, .cta.active .button {
      display: block;
      animation: fadeIn .3s ease-in-out;
      animation-delay: .1s;
      animation-fill-mode: forwards; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.7); }
  100% {
    opacity: 1;
    transform: scale(1); } }
